#content {
  width: 85%;
  margin: 10px auto 0;
  color: #FFF;
  display: table;
  border-spacing: 0 10px;
}

#content > div {
  display: table-row;
}

#content > div > div {
  display: table-cell;
  vertical-align: middle;
  background-color: #CF5C3F;
}

#content > div > div:first-child {
  text-align: center;
  font-size: 2.5em;
  font-family: Verdana, sans-serif;
  border-radius: 5px 0 0 5px;
  padding: 5px 30px;
}

#content > div > div:last-child {
  border-radius: 0 5px 5px 0;
  padding: 5px 5px 5px 0;
}
