<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <link href="//fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
  <link href="{{ site.baseurl }}/assets/css/layouts/default.css" rel="stylesheet">
  {% for extra_css in page.extra_css %}
    <link href="{{ site.baseurl }}{{ extra_css }}" rel="stylesheet">
  {% endfor %}

  {% if page.url == "/index.html" %}
    <title>NCCCP</title>
  {% else %}
    <title>{{ page.title }} &bull; NCCCP</title>
  {% endif %}
</head>

<body>
  <header>
    <nav class="group">
      <a id="foo" href="/"><span>NCCCP</span>Pacific</a>
      <ul>
        {% include tab href="/" text="Home" %}
        {% include tab href="/goals.html" text="Goals" %}
        {% include tab href="/about.html" text="About" %}
        {% include tab href="/calendar.html" text="Calendar" %}
        {% include tab href="/contact.html" text="Contact" %}
      </ul>
    </nav>
    <div id="intro">
      <p>{{ page.intro }}
    </div>
    <hr>
  </header>

  <div id="content">
    {{ content }}
  </div>

  <footer>
    Copyright &copy; {{ site.time | date:'%Y' }} <a href="{{ site.baseurl }}/">NCCCP</a>
  </footer>
</body>
</html>
